#leftColumn {
  background-color: crimson;
  margin: 10px;
  color: white;
}

h1 small {
  color: white;
}

.page-header {
  border-bottom: 4px solid white;
}

#gifSpace {
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#btnSpace {
  margin-top: 15px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-top: 4px solid white;
}

.animalBtn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.animalPic{
  width: 175px;
  height: 175px;
  margin: 8px 31px 8px 31px;
  border: 8px solid black;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  .animalPic{
    margin: 8px 30px 8px 30px;
  }
  #leftColumn {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .animalPic{
    margin: 8px 8px 8px 8px;
  }
  #leftColumn {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .animalPic{
    margin: 8px 35px 8px 35px;
  }
  #leftColumn {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
